<h2 id="title">All pod based components</h2>
<ol>
  <li>{{foo-bar}} regular component</li>
  <li>{{bar-far}} regular component, using foo-bar template</li>
  <li>{{far-bar}} extends foo-bar, using foo/fu-bar template</li>
  <li>{{bar-foo}} regular component, using foo-bar template with bar-foo template present. should be displaying foo-bar</li>
  <li>{{foo.fu-bar}} nested component</li>
</ol>
{{outlet}}
